.headerSection{
    position: sticky;
    top: 0;

    transition: all ease-in-out 1s;

}

.bgColor{
    background-image: url("/src/images/headerBackground.png");
    background-repeat: round;
}

.headerContent{
    padding: 20px;
}