.sideBarWrap{
    position: fixed;
    left: 0;
    top: 0;

    padding: 20px;
    height: 100vh;

    background-color: rgb(97, 227, 212);
    transition: all ease-in-out 1s;

    transform: translateX(-100%);

    z-index: 2;
}

.sideBarWrap:hover{
    transform: translateX(0);
}

.arrowIcon{
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);

    background-color: rgb(97, 227, 212);
    border-radius: 5px;
    padding: 10px;

}

.sideBarWrap:hover .arrowIcon{
    transform: rotateY(180deg) translateY(-50%);
}

.list{
    margin: 0;
    padding: 20px;

    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.item{
    color: #9a9a9a;

    transition: all ease-in-out 1s;

    font-size: 26px;
}

.item:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.active{
    color: #ffffff;
}

.switchBtn{
    position: absolute;
    bottom: 10px;
    right: 10px;

    padding: 10px 25px;
    background-color: #282c34;
    border-radius: 20px;

    color: #f1f1f1;
    font-weight: 700;

    transition: all ease-in-out 1s;
}

.switchBtn:hover{
    background-color: #101215;
}



.switchBtn:active{
    background-color: #050404;
}