.sideBarWrap{
    position: fixed;
    left: 0;
    top: 0;

    padding: 20px;
    height: 100vh;

    background-color: #818181;
    transition: all ease-in-out 1s;

    transform: translateX(-100%);
}

.sideBarWrap:hover{
    transform: translateX(0);
}

.arrowIcon{
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);

    background-color: #818181;
    border-radius: 5px;
    padding: 10px;

}

.sideBarWrap:hover .arrowIcon{
    transform: rotateY(180deg) translateY(-50%);
}

.list{
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item{
    color: #ccc8c8;

    transition: all ease-in-out 1s;
}

.item:hover{
    cursor: pointer;

    transform: scale(1.2);
}

.active{
    color: #ffffff;
    transform: scale(1.2);
}